.subs-settings {
    width: 36px;
    opacity: 1 !important;
}

.browser-action {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subs-settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.subs-settings-container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    cursor: pointer;
}

.subs-settings-container-window {
    background-color: white;
    height: 260px;
    width: 180px;
    position: absolute;
    z-index: 100;
    bottom: 70px;
    right: 0;
    cursor: default !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black !important;
    flex-direction: column;
}


